<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>↓ home ↓</title>
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/ios/64/000000/email-open.png"
      title="Newsletter Icon by Icons8"
    />
    <meta charset="utf-8" />
    <meta
      name="description"
      content="A Discord bot that can help you manage your guild members' newsletter subscription!"
    />
    <meta name="keywords" content="Discord, Python, Bot, Newsletter" />
    <meta name="author" content="Bhavya, Gauri. Nandini" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      property="og:image:url"
      content="https://img.icons8.com/ios/64/000000/email-open.png"
    />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:alt" content="Newsletter Icon by Icons8" />
    <meta property="og:title" content="Sign Me Up Bot" />
    <meta
      property="og:description"
      content="A Discord bot that can help you manage your guild members' newsletter subscription!"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@" />
    <meta
      name="twitter:image"
      content="https://img.icons8.com/ios/64/000000/email-open.png"
    />
    <meta name="twitter:image:width" content="300" />
    <meta name="twitter:image:alt" content="Newsletter Icon by Icons8" />
    <meta
      name="twitter:description"
      content="A Discord bot that can help you manage your guild members' newsletter subscription!"
    />
    <!-- all bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- add google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <!-- import the webpage's stylesheet -->
  </head>
</html>
