<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>↓ home ↓</title>
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/ios/64/000000/email-open.png"
      title="Newsletter Icon by Icons8"
    />
    <meta charset="utf-8" />
    <meta
      name="description"
      content="A Discord bot that can help you manage your guild members' newsletter subscription!"
    />
    <meta name="keywords" content="Discord, Python, Bot, Newsletter" />
    <meta name="author" content="Bhavya, Gauri. Nandini" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      property="og:image:url"
      content="https://img.icons8.com/ios/64/000000/email-open.png"
    />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:alt" content="Newsletter Icon by Icons8" />
    <meta property="og:title" content="Sign Me Up Bot" />
    <meta
      property="og:description"
      content="A Discord bot that can help you manage your guild members' newsletter subscription!"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@" />
    <meta
      name="twitter:image"
      content="https://img.icons8.com/ios/64/000000/email-open.png"
    />
    <meta name="twitter:image:width" content="300" />
    <meta name="twitter:image:alt" content="Newsletter Icon by Icons8" />
    <meta
      name="twitter:description"
      content="A Discord bot that can help you manage your guild members' newsletter subscription!"
    />
    <link
      type="text/css"
      href="{{ url_for('static', filename='styles/index.css') }}"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- nav bar starts -->
    <nav class="navbar navbar-expand-lg">
      <ul class="navbar-nav me-auto">
        <a class="navbar-brand" href="/"
          ><img
            src="https://img.icons8.com/ios/64/000000/email-open.png"
            height="30px"
        /></a>
      </ul>
      <button
        class="navbar-toggler navbar-light"
        type="button"
        data-toggle="collapse"
        data-target=".navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/invite">Add to Discord</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://github.com/nandiniproothi/signmeup-bot"
              >Source Code</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login with Discord</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- nav bar ends -->
    <!-- content start -->
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h2>Sign Me Up Bot</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Inspiration</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Discord community managers can benefit from having a direct plugin for their community members to sign up for newsletters with regular updates. We put all their needs together into a bot with easy integration for them to upload their own email templates with us. They can broadcast to their subscribers from a database that keeps getting updated in real-time with discord subscriber signups.  This saves any hassle for the subscribers having to log in somewhere specific and for the community manager to manage any databases or a place to keep their templates. We hope to make it all easier with the addition of just one bot to your server!</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>What It Does</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Sign Me Up is a Discord bot that would help discord community managers easily broadcast newsletters directly from its dashboard and create an easy sign up for the server users. On the user's side, they can upload up to templates for their emails and broadcast from anywhere anytime using the dashboard. The subscribers can signup for the newsletter by simply using the smu command, more details on the commands are below.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>How We Built It</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Discord API:  Using the Discord API, we authorized our bot to allow a direct login and allow users to add the bot to their servers.

            Cockroach: We use CockroachDB and PostgreSQL, we managed the database for the application.

            SendGrid API: With help of SendGrid, we make a feature for users to directly broadcast their email templates to their subscribers.

            More information on how we used these can be found <a href="https://github.com/nandiniproothi/signmeup-bot/">here</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Challenges We Ran Into</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>We are all beginners in the respective parts we took up for the project and had limited to no experience in the technologies we used. </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Accomplishments We're Proud Of</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>As beginners, we had the opportunity to learn a lot from the various elements necessary within this project in the duration of the hack, coordinated well as a team and learned the ins and outs of working on collaborative git projects. </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>What We Learned</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>We got hands-on experience in working with new technologies, solving problems and collaborating to create something new! </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>What's Next for Sign Me Up Bot</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>In its current form, the bot's broadcast feature could become more helpful with a scheduling feature. Sign Me Up bot could also be expanded for subscribers to choose to sign up for multiple users administrating the same server. </p>
        </div>
      </div>
    </div>
    <!-- content ends -->
  </body>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"
  ></script>
</html>
