/* body {
  margin: 0;
  padding: 0;
  background-color: #ffe8d6;
  position: relative;
  max-width: 1440px;
  max-height: 1024px;
}
nav {
  position: absolute;
  width: 1440px;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #cb997e;
}

.logo img {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 60px;
  top: 7px;
}

.add a {

  position: absolute;
  width: 125px;
  height: 20px;
  left: 123px;
  top: 16px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;


  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.lo a {
  position: absolute;
  width: 68px;
  height: 20px;
  left: 1330px;
  top: 16px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;


  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.header h1 {
  position: absolute;
  width: 232px;
  height: 54px;
  left: 145px;
  top: 130px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.titlerow {
  position: absolute;
  width: 490px;
  height: 48px;
  left: 136px;
  top: 265px;

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  position: absolute;
  width: 321px;
  height: 80px;
  left: 200px;
  top: 234px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

h3 {
  position: absolute;
  width: 342px;
  height: 80px;
  left: 480px;
  top: 230px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.addrow img {
  position: absolute;
  width: 24px;
  height: 25px;
  left: 605px;
  top: 220px;
}

.lt h2 {
  left: 825px;
  right: 335px;
  bottom: 719px;
  top: 200px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;


  color: #484848;
}

button {
  position: absolute;
  width: 172px;
  height: 50px;
  left: 1162px;
  top: 280px;
  font-size: 16px;

  background: #cdb4db;
  border: 1px solid #cdb4db;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
input {
  position: absolute;
  width: 300px;
  height: 43px;
  left: 136px;
  top: 330px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: transparent;
  border: none;
  color: #000000;
  outline: none;
}
.upload {
  position: absolute;
  width: 180px;
  height: 45px;
  left: 443px;
  top: 328px;
  background: #ddbea9;
  border-radius: 10px;
  font-family: Montserrat;
  box-shadow: none;
}

.listboxmain {
  position: absolute;
  width: 225px;
  height: 50px;
  left: 825px;
  top: 282px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.lt h3 {
  position: absolute;
  width: 215px;
  height: 50px;
  left: 855px;
  top: 266px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #666666;
}
.lt img {
  position: absolute;
  width: 15px;
  height: 10px;
  left: 1020px;
  top: 302px;
  transform: rotate(180deg);
}
 */